* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
}
.btn {
  width: 15vh;
  height: 5vh;
  border: 0px;
  background-color: #0f0f0f;

  font-size: 1em;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #333;
}
.modal {
  display: none;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 1080px;
  max-height: max-content;
  justify-content: center;
  align-items: center;
  z-index: 2222;
}
.player-box {
  display: block;
  background-color: tomato;
  width: 640px;
  height: 360px;

  z-index: 2222;
}
.main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
}
.top-side {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: auto;
  background-color: #0f0f0f;
}
.top-side-main {
  display: flex;
  flex-direction: row;
  height: 8vh;
  background-color: #0f0f0f;
  width: auto;
  justify-content: space-between;
  padding: 0 3em 0 0em;
  align-items: center;
  border-bottom: 1px solid black;
}

.webpage-logo-box {
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: 800;
}
.authorization-container {
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
}
.authorization-btn {
  background-repeat: no-repeat;
  width: 24vh;
  height: 8vh;
}
.authorization-btn:hover {
  cursor: pointer;
}
.top-side-channel-list {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 8vh;
  background-color: #0f0f0f;
  padding: 1vh 5vh;
  column-gap: 2vh;
  align-items: center;
  img {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    border: 3px solid #333;
    background-color: #333;
  }

  overflow-x: hidden;
  overflow-y: hidden;
}

.videos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  min-height: 78.9vh;
  background-color: #0f0f0f;
  border-top: 1px solid black;
  padding: 5vh;
  column-gap: 4vh;
  row-gap: 4vh;
  justify-content: center;
}

.video-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 480px;
  background-color: rgba(8, 3, 3, 0.2);
  border-radius: 2em;
}
.video-img {
  height: 260px;
  width: 400px;
  border-radius: 2em;
  background-size: 400px 260px;
  background-repeat: no-repeat;
}
.video-info {
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  padding: 2vh;
  font-weight: 600;
  h3 {
    font-size: 1.17em;
    height: 5vh;
  }
  p {
    img {
      border-radius: 50%;
      height: 5vh;
      width: 5vh;
      vertical-align: middle;
      margin-right: 1em;
    }
  }
}
.footer {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 5vh;
  background-color: royalblue;
}
.short-video-icons-box {
  display: flex;
}
.user-account-box {
  display: flex;
}
.icon {
  width: 5vh;
  height: 5vh;
  margin: 0 1vh 0 3vh;
}
.icon:hover {
  cursor: pointer;
}
